# ESP32-S3-DevKitC stable device naming for Mender Orchestrator
# Uses CP2102N USB-to-UART bridge serial numbers for deterministic
# symlink assignment regardless of USB enumeration order.
#
# To find serial numbers of connected boards:
#   udevadm info --name=/dev/ttyUSB0 --query=property | grep ID_SERIAL_SHORT
#
# After updating, reload rules:
#   udevadm control --reload-rules && udevadm trigger

SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="CHANGEME_SERIAL_A", SYMLINK+="esp32-1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="CHANGEME_SERIAL_B", SYMLINK+="esp32-2"
